

.select-info {
    background-color: var(--background-1);
    padding: 20px 10px 20px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}


.each-info-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: 100%;

}


.division-background {
    background-color: var(--background-1);
    padding-top: 7px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-box{
    flex: 1;
    width: 100%;
}

.input-flex{
    display: flex;
    width: 100%;
    gap: 10px;
}

.syllabus-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
}

.syllabus-entry>div {
    margin-bottom: 20px;
    width: 100%;
}







.button-submit{
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    /* margin: 20px  ; */
    /* margin:20px 20px 20px 20px; */
    /* width: 50%; */

}

.syllabus-entry button:hover {
    background-color: #0056b3;
}

   


.syllabus-entry .dropdown-section {
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* .course-outcome-buttons,
.po-mapping-buttons,
.course-content-buttons {
    display: flex;
} */

/* .course-outcome-textarea,
.course-content-textarea {
    width: 100%;
    resize: vertical;
    margin-right: 10px;
} */
.course-outcome input[type="text"]

 {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
   
}



.po-mapping-buttons button:hover {
    background-color: #0056b3;
}






.course-content-buttons button:hover {
    background-color: #0056b3;
}
.flex-boxco{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;


}

form{
    padding: 20px;
    box-sizing: border-box;
}


.align{
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 10px;
}
.button-Add{
   
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(56, 157, 229);
    color: white;
    text-align: center;
    border: none;
    font-weight: 700;
    margin-right: 10px;
}

.font {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center; 
    
    padding: 10px; /
  
}

.pdf {
    
    display: flex;
    align-items: center; 
}
