/* markentry.css */

/* Container styles */
.attendance-container {
  margin-top: 10px;
 
  border-radius: 5px;
  margin-left: 30px;
 
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  overflow:scroll;
  overflow-x: hidden;
  
  border-radius: 10px;
}

/* File upload input */
.file-upload-input {
  display: none;
}

/* Upload section */
.upload-section {
  height: 150px;
  width: 1400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section center {
  margin-top: 20px;
}

.upload-section h3 {
  margin-top: 10px;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 300;
  font-style: bold;
  width: 100px;
}


.table-section {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1365px;
  margin-bottom: 20px;
}

/* .scrollable-table {
  overflow-y: scroll;
  max-height: 400px; 
} */

.search-input {
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  border: 1px solid #ddd;
  padding: 16px;
  background-color: #f2f2f2;
  text-align: center;
  
 
}

.table-row {
  border: 1px solid #ddd;
  padding: 10px;
}

.table-cell {
  border: 1px solid #ddd;
  padding: 10px;
}

/* Submit button */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

/* attendance.css */

/* Modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  width: 400px;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover{
  background-color:red ;
}

.data-table{
  border-radius: 20px;
}



