/* Existing CSS */
.total-v-navbar {
    height: fit-content;
    width: 200px;
       display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  
    
}

.menu-item {
    color: var(--text-black);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
    margin: 2px;
}

.menu-item:hover .nav-icons {
    background-color: var(--icon-hover-backgrd);
    color: var(--background-2);
    border-radius: 5px;
}

.menu-item:hover {
    background-color: var(--card-2);
    color: var(--button);
}

.nav-icons {
    margin: 0px 10px 0px 5px;
    padding: 5px;
    color: var(--button);
}

.link-style {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--text-black);
    padding: 8px;
}

.menu-item:hover .link-style {
    color: var(--menu-text-hover);
    font-weight: 600;
}

.link-style:hover {
    color: var(--button);
}

.menu-item.active {
    background-color: var(--card-2);
    color: var(--button);
}

.menu-item.active .nav-icons {
    background-color: var(--icon-hover-backgrd);
    color: var(--background-2);
    border-radius: 5px;
}

.submenu {
    display: flex;
    color: var(--text-black);
    width: 100%;
    
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
}

.submenu-item {
    display: flex;
    align-items: center;
}

.submenu-link {
    text-decoration: none;
    color: var(--text-black);
    padding: 15px;
    display: inline-flex;
}

/* Adjust icon size and margin */
.submenu-item .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* New CSS for Forms Dropdown */
.forms-submenu {
    display: flex;
    flex-direction: column;
    color: var(--text-black);
    width: 100%;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
}

.forms-submenu-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.forms-submenu-link {
    text-decoration: none;
    color: var(--text-black);
    padding: 8px;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.forms-submenu-link:hover {
    background-color: var(--card-2);
    color: var(--button);
    padding-left: 10px; /* Subtle indentation effect on hover */
    transition: all 0.3s ease;
}
