* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --hover: #8B5FBF;
  --button: #61398F;
  --card: #D6C6E1;
  --card-1: #9A73B5;
  --card-2: #c7a9dc;
  --text-black: #4A4A4A;
  --text-grey: #878787;
  --background: #F5F3F7;
  --background-1: #E9E4ED;
  --background-2: #FFFFFF;
}


/* 
.dark-theme {
  --hover: #7B4F8E;
  --button: #563763;
  --card: #D7C5DF;
  --card-1: #B794C0;
  --card-2: #895896;
  --text-black: #FFFFFF;
  --text-grey: #909090;
  --background: #3B2D4D;
  --background-1: #382B49;
  --background-2: #4D3B64;
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--card);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-2);
}

::-webkit-scrollbar-horizontal {
  height: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--card);
}

::-webkit-scrollbar-track:horizontal {
  background-color: var(--card);
}













/* 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */